In [1]:
''' 
Script para descargar un archivo de Google Drive y mostrar las primeras 10 líneas
'''

url_view = "https://drive.google.com/file/d/1RMKdCJKS7vFBhiTLosCotau1k4UsN5iu/view?usp=sharing"   # Enlace de Google Drive
file_id = url_view.split('/')[5]  # Extrae el ID del archivo (la 6ª parte del enlace)
download_url = f"https://drive.google.com/uc?id={file_id}"   # Crea el enlace de descarga directa

import requests
response = requests.get(download_url)

# Muestra las primeras 10 líneas, para saber el tipo de separación del csv
for i, line in enumerate(response.text.splitlines()[:10], start=1):
    print(f"{i:02d}: {line}")

01: Date;Year;Type;Country;State;Location;Activity;Name;Sex;Age;Injury;Fatal Y/N;Time;Species ;Source;pdf;href formula;href;Case Number;Case Number;original order;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
02: 11th October;2025;Unprovoked;Australia;Queensland;Cook Esplanade Thursday Island;Fishing/swimming;Samuel Nai;M;14;Serious abdonminal injuries;N;1823 hrs;Tiger or Bull shark;Kevin McMurray Trackingsharks.com;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
03: 7th October;2025;Unprovoked;Australia;South Australia;Kangaroo Island;Surfing;Lee Berryman;M;50+;Lacerations to calf ;N;1330hrs;Bronze whaler?;Kevin McMurray Trackingsharks.com;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
04: 29th September;2025;Unprovoked;USA;Off California;Catalina Island;Swimming;Christopher Murray;M;54;Leg and foot injury;N;0100hrs;unknown 1.2m shark;Todd Smith: Kevin McMurray Trackingsharks.com;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
05: 27th September;2025;Provoked;Costa Rica;;Cocos Islands;Diving-Tagging sharks;Dr. Mauricio Hoyos;M;48;Head face and arms;N;Not stated;Tiger shark 4m;Todd Smith: Kevin McMurray Trackingsharks.com;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
06: 6th September;2025;Unprovoked;Australia;NSW;Long Reef Sydney;Surfing;Mercury Psillaskis;M;57;Both legs and arm severed;Y;0930hrs;Great White Shark;Todd Smith: Andy Currie: Simon De Marchi: Kevin McMurray Trackingsharks.com:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
07: 1st September;2025;Unprovoked;USA;Florida;Horseshoe reef Key Largo;Snorkeling;Richard Burrows;M;8;Bite to leg;N;1524hrs;Not stated;Todd Smith: US SUN: NY Post: The Guardian: People:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
08: 30th August;2025;Unprovoked;USA;Texas;Galveston;Swimming;Harper Ochoa;F;8;Bite to leg;N;Not stated;Not stated;Bob Myatt GSAF : People:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
09: 18th August;2025;Unprovoked;Australia;NSW;Cabarita Beach;Surfing;Brad Ross;M;?;None sustained board severly damaged;N;0730hrs;5m (16.5ft) Great White;Bob Myatt GSAF The Guardian: 9 News: ABS News: Daily Telegraph:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
10: 17th August;2025;Unprovoked;Bahamas;Atlantic Ocean near Big Grand Cay;North of Grand Bahama near Freeport;Spearfishing;Not stated;M;63;Severe injuries no detail;N;1300hrs;Undetermined;Ralph Collier GSAF and Kevin MCMurray Trackingsharks.com ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

In [2]:
import pandas as pd
from typing import Optional, Iterable

shark_df = pd.read_csv(download_url, sep=';', encoding='utf-8', low_memory=False)
print("Inicialmente los datos tienen:", shark_df.shape)
print(shark_df.head())  # Muestra las primeras filas del DataFrame

shark_df = shark_df.dropna(axis=1, how='all') # Eliminar columnas vacías enteras
print("Ahora los datos tienen:",shark_df.shape)
print(shark_df.columns)  # Muestra las columnas del DataFrame: 255 col a 23 col

Inicialmente los datos tienen: (39139, 255)
             Date  Year        Type     Country            State  \
0    11th October  2025  Unprovoked   Australia       Queensland
1     7th October  2025  Unprovoked   Australia  South Australia
2  29th September  2025  Unprovoked         USA   Off California
3  27th September  2025    Provoked  Costa Rica              NaN
4   6th September  2025  Unprovoked   Australia              NSW

                         Location               Activity                Name  \
0  Cook Esplanade Thursday Island       Fishing/swimming          Samuel Nai
1                 Kangaroo Island                Surfing        Lee Berryman
2                 Catalina Island               Swimming  Christopher Murray
3                   Cocos Islands  Diving-Tagging sharks  Dr. Mauricio Hoyos
4                Long Reef Sydney                Surfing  Mercury Psillaskis

  Sex  Age  ... Unnamed: 245 Unnamed: 246 Unnamed: 247 Unnamed: 248  \
0   M   14  ...          NaN          NaN          NaN          NaN
1   M  50+  ...          NaN          NaN          NaN          NaN
2   M   54  ...          NaN          NaN          NaN          NaN
3   M   48  ...          NaN          NaN          NaN          NaN
4   M   57  ...          NaN          NaN          NaN          NaN

  Unnamed: 249 Unnamed: 250 Unnamed: 251 Unnamed: 252 Unnamed: 253  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 254
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 255 columns]
Ahora los datos tienen: (39139, 23)
Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [3]:
#Quitamos las columnas que no nos sirven para el análisis

shark_df.drop(['Date','Location','Name','Age','Injury','Time','Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'], axis=1, inplace=True)

print(shark_df.columns)  # Muestra las columnas del DataFrame después de eliminar las que no analizaremos

Index(['Year', 'Type', 'Country', 'State', 'Activity', 'Sex', 'Fatal Y/N',
       'Species '],
      dtype='object')

In [4]:
""""
Normalize text columns (strip spaces, set lowercase).

Parameters
----------
df : DataFrame
cols : columns to normalize; if None, all object/string columns
lower : convert to lowercase
strip : strip leading/trailing whitespace
normalize_columns: normalize column names (strip, lower, replace spaces with _)

Returns
-------
DataFrame (same object, modified in place style but returns df for chaining)
"""

def standardize_text(
    df: pd.DataFrame,
    cols: Optional[Iterable[str]] = None,
    lower: bool = True,
    strip: bool = True,
    normalize_columns: bool = True,
) -> pd.DataFrame:
       
    if cols is None:
        cols = df.select_dtypes(include=["object", "string"]).columns

    for c in cols:
        s = df[c].astype("string")
        if strip:
            s = s.str.strip()
        if lower:
            s = s.str.lower()
        df[c] = s
     
    if normalize_columns:
        df.columns = (
            df.columns
            .str.strip()
            .str.lower()
            .str.replace(" ", "_")
        )

    return df

shark_df = standardize_text(shark_df)
print(shark_df.head())  # Muestra las primeras filas del DataFrame después de la normalización del texto y las columnas

   year        type     country            state               activity sex  \
0  2025  unprovoked   australia       queensland       fishing/swimming   m
1  2025  unprovoked   australia  south australia                surfing   m
2  2025  unprovoked         usa   off california               swimming   m
3  2025    provoked  costa rica             <NA>  diving-tagging sharks   m
4  2025  unprovoked   australia              nsw                surfing   m

  fatal_y/n              species
0         n  tiger or bull shark
1         n       bronze whaler?
2         n   unknown 1.2m shark
3         n       tiger shark 4m
4         y    great white shark

In [5]:
#Check valores únicos por columna:

for col in shark_df.columns:
    print(f'{col.upper()} --> valores únicos:', shark_df[col].unique())

YEAR --> valores únicos: <StringArray>
['2025', '2024', '2026', '2023', '2022', '2021', '2020', '2019', '2018',
 '2017',
 ...
 '1580', '1555', '1554', '1543', '1518', '1500', '1000', '0077', '0005',
 '0000']
Length: 263, dtype: string
TYPE --> valores únicos: <StringArray>
[         'unprovoked',            'provoked',        'questionable',
          'watercraft',        'sea disaster',                  <NA>,
                   '?',         'unconfirmed',          'unverified',
             'invalid', 'under investigation',                'boat']
Length: 12, dtype: string
COUNTRY --> valores únicos: <StringArray>
[               'australia',                      'usa',
               'costa rica',                  'bahamas',
              'puerto rico',         'french polynesia',
                    'spain',           'canary islands',
             'south africa',                  'vanuatu',
 ...
        'mediterranean sea',                   'sweden',
                   'roatan', 'between portugal & india',
                 'djibouti',                  'bahrein',
                    'korea',                 'red sea?',
                    'asia?',       'ceylon (sri lanka)']
Length: 213, dtype: string
STATE --> valores únicos: <StringArray>
[                       'queensland',                   'south australia',
                    'off california',                                <NA>,
                               'nsw',                           'florida',
                             'texas', 'atlantic ocean near big grand cay',
                          'carolina',                         'nuku hiva',
 ...
               'milne bay  province',                   'island of volos',
                  'amirante islands',               'kadavu island group',
                'toamasina province',                     'riau province',
                      'bikini atoll', 'between new ireland & new britain',
         'ba ria-vung tau  province',                      'moala island']
Length: 909, dtype: string
ACTIVITY --> valores únicos: <StringArray>
[                                                  'fishing/swimming',
                                                            'surfing',
                                                           'swimming',
                                              'diving-tagging sharks',
                                                         'snorkeling',
                                                       'spearfishing',
                                                            'fishing',
                                                             'wading',
                                                           'kayaking',
                                             'surfing (hydrofoiling)',
 ...
 'standing, washing rear wheels of his ambulance in ankle-deep water',
                      'carrying a supposedly dead shark by its mouth',
                                             'spent 8 days in dinghy',
                       'aircraft ditched in the sea, swimming ashore',
                                                'wooden fishing boat',
                 'swimming in pool formed by construction of a wharf',
                                      'swimming around anchored ship',
                        'crew swimming alongside their anchored ship',
                                                 '4 men were bathing',
                               'wreck of  large double sailing canoe']
Length: 1548, dtype: string
SEX --> valores únicos: <StringArray>
['m', 'f', <NA>, 'lli', 'm x 2', 'n', '.']
Length: 7, dtype: string
FATAL_Y/N --> valores únicos: <StringArray>
['n', 'y', 'f', 'm', <NA>, 'nq', 'unknown', '2017', 'y x 2']
Length: 9, dtype: string
SPECIES --> valores únicos: <StringArray>
[                                                                                                          'tiger or bull shark',
                                                                                                                'bronze whaler?',
                                                                                                            'unknown 1.2m shark',
                                                                                                                'tiger shark 4m',
                                                                                                             'great white shark',
                                                                                                                    'not stated',
                                                                                                       '5m (16.5ft) great white',
                                                                                                                  'undetermined',
                                                                                                       'lemon shark 1.8 m (6ft)',
                                                                                                         'suspected great white',
 ...
                                                                                                      'a large hammerhead shark',
                                                                                             'shovelnose guitarfish, adult male',
                                                                                                            '"a pack of sharks"',
                                                                                                         'white shark, 7' to 8'',
                                                                                                         'white shark, 1,900-lb',
                                                               'bull shark caught, leg recovered & buried beside the man's body',
                                                                                                        '"a black-tipped shark"',
                                                                                                               '12' tiger shark',
                                                                                                                 'blue pointers',
 'said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable']
Length: 1613, dtype: string

In [6]:
shark_df.dtypes

year         string[python]
type         string[python]
country      string[python]
state        string[python]
activity     string[python]
sex          string[python]
fatal_y/n    string[python]
species      string[python]
dtype: object

In [7]:
print('Los valores iniciales eran:', shark_df['year'].nunique)
print('Los valores iniciales eran:', shark_df['year'].shape)
print('Los valores iniciales eran:', shark_df['type'].nunique)
print('Los valores iniciales eran:', shark_df['type'].shape)

#PRIMER FILTRO (Marlene):

shark_df = shark_df[shark_df['type'] == 'unprovoked'].copy() #Quitamos los accidentes que no sean "unprovoked"

Los valores iniciales eran: <bound method IndexOpsMixin.nunique of 0        2025
1        2025
2        2025
3        2025
4        2025
         ...
39134    <NA>
39135    <NA>
39136    <NA>
39137    <NA>
39138    <NA>
Name: year, Length: 39139, dtype: string>
Los valores iniciales eran: (39139,)
Los valores iniciales eran: <bound method IndexOpsMixin.nunique of 0        unprovoked
1        unprovoked
2        unprovoked
3          provoked
4        unprovoked
            ...
39134          <NA>
39135          <NA>
39136          <NA>
39137          <NA>
39138          <NA>
Name: type, Length: 39139, dtype: string>
Los valores iniciales eran: (39139,)

In [ ]:
#Exportamos a excel post filtro: TYPE

shark_df.to_excel('SharkAttack_check1.xlsx')

In [ ]:
print(shark_df[['year']].isnull().sum())

shark_df = shark_df.dropna(subset=['year']) #Quitamos los null de la columna "year"

print(shark_df.isnull().sum())

year    0
dtype: int64
year            0
type            0
country        33
state         300
activity      359
sex           168
fatal_y/n      17
species      2598
dtype: int64

In [ ]:
#formateamos para que todos los string sean igual (con decimal ".")

shark_df['year'] = (
    shark_df['year']
    .astype(str)                 
    .str.replace(',', '.', regex=False)  # cambia coma por punto
    .astype(float)      
)
shark_df['year'] = pd.to_numeric(shark_df['year'])
shark_df = shark_df.loc[(shark_df['year'] >= 2000) & (shark_df['year'] <= 2025)] #filtramos los años sujetos a estudio

#CHECK FILTRO 1
print('Post filtro quedan:', shark_df['year'].shape , "valores")
print('Post filtro quedan:', shark_df['type'].shape , "valores")

Post filtro quedan: (2206,) valores
Post filtro quedan: (2206,) valores

In [15]:
#Check valores por columnas para próximos filtros

for col in shark_df.columns:
    print(f'{col.upper()} --> valores únicos:', shark_df[col].unique())

YEAR --> valores únicos: [2025. 2024. 2023. 2022. 2021. 2020. 2019. 2018. 2017. 2016. 2015. 2014.
 2013. 2012. 2011. 2010. 2009. 2008. 2007. 2006. 2005. 2004. 2003. 2002.
 2001. 2000.]
TYPE --> valores únicos: <StringArray>
['unprovoked']
Length: 1, dtype: string
COUNTRY --> valores únicos: <StringArray>
[                            'australia',
                                   'usa',
                               'bahamas',
                           'puerto rico',
                      'french polynesia',
                                 'spain',
                        'canary islands',
                          'south africa',
                               'vanuatu',
                               'jamaica',
                                'israel',
                              'maldives',
                      'turks and caicos',
                            'mozambique',
                         'new caledonia',
                                 'egypt',
                              'thailand',
                           'new zealand',
                                'hawaii',
                              'honduras',
                               'morocco',
                                'belize',
                       'maldive islands',
                                'tobago',
                                 'india',
                                'mexico',
                           'philippines',
                                 'samoa',
                              'colombia',
                               'ecuador',
                                'brazil',
                            'seychelles',
                               'england',
                                 'japan',
                             'indonesia',
                              'columbia',
            'british overseas territory',
                                'canada',
                                'jordan',
                      'st kitts / nevis',
                             'st martin',
                                  'fiji',
                      'papua new guinea',
                                  'cuba',
                        'reunion island',
                                 'italy',
                            'costa rica',
                                    <NA>,
                             'mauritius',
                       'solomon islands',
 'st helena, british overseas territory',
                               'reunion',
                        'united kingdom',
                  'united arab emirates',
                                 'china',
                    'dominican republic',
                                 'aruba',
                                'france',
                              'kiribati',
                          'diego garcia',
                                'taiwan',
                                  'guam',
                               'nigeria',
                                 'tonga',
                              'scotland',
                                 'kenya',
                                'russia',
                        'turks & caicos',
                              'malaysia',
                           'south korea',
                                 'malta',
                               'vietnam',
                            'madagascar',
            'united arab emirates (uae)',
                                'panama',
                               'croatia',
                                 'yemen',
                          'gulf of aden',
                          'sierra leone',
                           'st. maartin',
                          'grand cayman',
                             'venezuela',
                               'uruguay',
                            'micronesia',
                               'okinawa',
                              'tanzania']
Length: 86, dtype: string
STATE --> valores únicos: <StringArray>
[                                         'queensland',
                                     'south australia',
                                      'off california',
                                                 'nsw',
                                             'florida',
                                               'texas',
                   'atlantic ocean near big grand cay',
                                            'carolina',
                                           'nuku hiva',
                                             'majorca',
 ...
                               'louisiade archipelago',
 'kwazulu-natal between port edward and port st johns',
                                  'milne bay province',
                'cikobia island (north of vanua levu)',
                                     'rayong province',
                                 'rio grande de norte',
                                       'new brunswick',
                                       'miyako island',
                                        'minerva reef',
                                     'madang province']
Length: 294, dtype: string
ACTIVITY --> valores únicos: <StringArray>
[                                'fishing/swimming',
                                          'surfing',
                                         'swimming',
                                       'snorkeling',
                                     'spearfishing',
                                           'wading',
                                         'kayaking',
                           'surfing (hydrofoiling)',
                                           'diving',
                                          'fishing',
 ...
                     'standing alongside surfboard',
                                            'batin',
             'swimming back from anchored sailboat',
                           'diving for sea urchins',
                       'diving (shell maintenance)',
                        'swimming out to porpoises',
            'windsurfing, but sitting on his board',
                                 'surfing / wading',
 'spearfishing, holding mesh bag with speared fish',
                         'boogie boarding / wading']
Length: 233, dtype: string
SEX --> valores únicos: <StringArray>
['m', 'f', <NA>, 'lli']
Length: 4, dtype: string
FATAL_Y/N --> valores únicos: <StringArray>
['n', 'y', 'f', 'm', <NA>, 'nq', 'unknown']
Length: 7, dtype: string
SPECIES --> valores únicos: <StringArray>
[                                    'tiger or bull shark',
                                          'bronze whaler?',
                                      'unknown 1.2m shark',
                                       'great white shark',
                                              'not stated',
                                 '5m (16.5ft) great white',
                                            'undetermined',
                                   'suspected great white',
                         'great white shark est 3m (10ft)',
                                             'lemon shark',
 ...
                'blacktip shark, 2.4 m to 3 m [8' to 10']',
                           '1.8 m [6'] grey-colored shark',
                            'grey reef shark, 2 m [6.75']',
                 'lemon shark, 2.1  m to 2.4 m [7' to 8']',
                'tiger shark, 0.9 m to 1.5 m [3' to 5'] ?',
                                 'nurse shark, 1.2 m [4']',
 '0.9 m [3'] shark,  probably a blacktip or spinner shark',
               'blacktip shark, 1.2 m to 1.8 m [4' to 6']',
                                'tiger shark, 4 m [13'] ?',
          'shortfin mako shark, 3 m to 3.4 m [10' to 11']']
Length: 625, dtype: string

In [16]:
#Exportamos a excel post filtro: TYPE + YEAR

shark_df.to_excel('SharkAttack_check2.xlsx')